---
layout: layouts/page
---

<div class="expore-pra-wrapper static-content">
    <h1 class="margin-top-0">Explore PRA</h1>
    <p>The following information is intended to be a general overview of PRA to provide you with enough background
        context for implications of PRA here at TTS. The following sections “Find out if you need PRA clearance” and
        “Get PRA clearance” will provide practical guidance.</p>
    <p> <img aria-hidden="true" src="{{ '/assets/images/explore-pra-banner.png' | url }}" alt="" width="862"
            height="162" /></p>
    <section class="usa-section what-is-pra-section-section">
        <h2 class="site-preview-heading">What is PRA?</h2>
        <p><span class="text-bold">The Paperwork Reduction Act of 1995 (PRA) is a law governing how federal agencies
                collect information from the American public.</span> It was designed to “ensure the greatest possible
            public benefit from and maximize the utility of information created, collected, maintained, used, shared,
            and disseminated by or for the Federal Government” and to “improve the quality and use of Federal
            information to strengthen decision making, accountability, and openness in Government and society” (44
            U.S.C. § 3501). </p>

        <div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
            <h3 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="true"
                    aria-controls="why-does-pra-matter">
                    Why does PRA matter?
                </button>
            </h3>
            <div id="why-does-pra-matter" class="usa-accordion__content usa-prose">
                <p>
                    True to its name, the original intent of the Paperwork Reduction Act is to reduce the amount of
                    government paperwork the public must fill out. It ensures that when we ask the public for
                    information, it's for a good reason and that we're not asking for stuff we don't really need.
                </p>
                <p class="margin-top-05">Goals of the PRA include:</p>
                <ul class="usa-list">
                    <li><span class="text-bold">Reducing public burden:</span> It prevents the Federal government from
                        collecting redundant information or information that they don’t actually need to provide a
                        service.</li>
                    <li><span class="text-bold">Better use of data:</span> It makes sure that the information the
                        Federal government collects is used effectively to make informed policy decisions and improve
                        government services.</li>
                    <li><span class="text-bold">Giving the public a voice:</span> It gives the public a chance to weigh
                        in on how the government is collecting information.</li>
                </ul>
                <h4>Why does PRA matter at TTS?</h4>
                <p class="margin-top-05">TTS is in the business of improving government digital services, and this work
                    involves a lot of user research. PRA governs how federal UX Researchers can collect information from
                    members of the public, so if you’re doing user research here at TTS, you need to know the basic
                    principles of PRA, <a class="usa-link" href="{{ '#when-does-pra-apply' | url }}">when it may apply
                        to your research activities</a>, and <a class="usa-link"
                        href="{{ '#how-to-get-pra' | url }}">how to get it.</a></p>
            </div>
            <span class="text-bold"></span>
            <h3 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="false"
                    aria-controls="when-does-pra-apply">
                    When does PRA apply?
                </button>
            </h3>
            <div id="when-does-pra-apply" class="usa-accordion__content usa-prose">
                <p>
                    There are several factors that determine when PRA applies or not, and these boil down to WHO you are
                    collecting information from and HOW you collect that information. Remember that the point of the PRA
                    is to protect the public from undue burden associated with information collection, so keep that
                    guiding principle in mind.
                </p>
                <h4>Goals of the PRA include:</h4>
                <p class="margin-top-05">Anytime you are planning user research as a TTS UX Researcher, you should
                    consider whether your research activities need PRA clearance or not. In addition to the research
                    itself, you may also need PRA clearance for the following activities:</p>
                <ul class="usa-list">
                    <li>Recruiting participants</li>
                    <li>Making updates to materials that have prior or current PRA clearance</li>
                    <li>Translating materials that have prior or current PRA clearance to languages other than English
                    </li>
                </ul>
                <p><a class="usa-link" href="{{ '#when-does-pra-apply' | url }}">To learn more, and to find out if you
                        need PRA clearance or not, click here.</a></p>
            </div>
        </div>
    </section>
</div>

{{ content }}